body {
  background-color: green;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#buttonContainer {
  margin: 1vh;
  display: flex;
  width: 90%;
}

#newGameButton {
  padding: 10px 20px;
  font-size: 2vh;
  margin: 1vh;
  border-radius: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}

#newGameButton:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#gameContainer {
  width: 90%;
}

#upper,
#lower {
  display: flex;
}

#lower {
  margin-top: 1.5vh;
}

#deckHolderParent,
#singleCardHolder,
#emptyDiv,
.aceHolder,
.cardHolder {
  margin: 1vh;
  width: 20vh;
  height: 100%;
  aspect-ratio: 4/5;
  border-radius: 5px;
}

#emptyDiv, .cardHolder {
  border-color: transparent;
}

#deckHolder,
.card.back {
  background-color: darkred;
}

#deckHolder {
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}


#singleCardHolder {
  display: grid;
  grid-template-columns: 1fr;
}

.aceHolder {
  border: 1px solid black;
}

.card {
  height: 100%;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card.back {
  cursor: auto;
}

.card.back img {
  scale: 0;
}

.card.inContainer {
  margin-bottom: -95%;
}

.card.inDeck {
  grid-area: 1 / 1;
  height: 85%;
}

