body {
  background-color: green;
  display: flex;
  justify-content: center;
  width: 100%;
}

#gameContainer {
  margin: 10vh;
  width: 90%;
}

#upper,
#lower {
  display: flex;

}

#lower {
  margin-top: 1.5vh;
}

#upper div, #lower div {
  margin: 1vh;
  height: 25vh;
  width: 20vh;
  border: 1px solid black;
  cursor: pointer;
}

#upper div img, #lower div img{
  height: 100%;
  width: 100%;

}
