body {
  background-color: green;
  width: 90%;
}

#buttonContainer,
#gameContainer {
  width: 85%;
  margin-left: 10%;
}

#buttonContainer {
  margin-top: 3%;
  display: flex;
}

#newGameButton {
  padding: 10px 20px;
  font-size: 2vh;
  margin: 1vh;
  border-radius: 10px;
  border: 1px solid black;
  background-color: whitesmoke;
}

#newGameButton:hover {
  background-color: lightgrey;
  cursor: pointer;
}

#upper,
#lower {
  display: flex;
}
#lower {
  margin-top: 1.5vh;
}

#deckHolderParent,
#singleCardHolder,
#emptyDiv,
.aceHolder,
.cardHolder {
  margin: 1vh;
  width: 12vh;
  height: 100%;
  aspect-ratio: 4/5;
  border-radius: 6px;
  border: 1px solid transparent;
}

#deckHolder {
  background-color: darkred;
  cursor: pointer;
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
}

#singleCardHolder,
.aceHolder {
  display: grid;
  grid-template-rows: 1;
}

.empty {
  border: 1px solid black;
}

.card {
  height: 100%;
  width: 100%;
  border: 1px solid black;
  border-radius: 6px;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.card.back {
  cursor: auto;
  background-color: darkred;
}

.card.back img {
  scale: 0;
}

.card.inContainer {
  margin-bottom: -95%;
}

.card.inDeck,
.card.inAceHolder {
  grid-area: 1/1;
  height: 86%;
}
